/* shared styles */
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.noto-normal {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.primary-light {
    color: #8987A1;
}

.primary-dark {
    color: black;
    font-weight: 500px;
}

/* nav styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1140px;
    ;
}

.nav-logo {
    margin-left: 70px;

}

.nav-home {
    font-size: 1rem;
    font-weight: 700;
    color: black;
}

.nav-shop-about {
    color: #8987A1;
}

.nav-cart {
    font-size: 1rem;
    font-weight: semibold;
    color: black;

}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 3rem;
}

nav li a {
    text-decoration: none;
}

/* banner styles */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 1140px;
}

.sec1 {
    font-weight: 700px;
    font-size: 4rem;
    text-align: left;

}

.sec2 {
    text-align: left;
    font-weight: 700px;
    font-size: 4rem;
    color: #E95A08;

}

.sec3 {
    text-align: left;
    font-size: 1.125rem;
}

/* plant styles */
.plants {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* plants text styles */
.our {
    font-size: 50px;
    color: #E95A08;
}

.plants-text {
    align-items: center;
    text-align: center;
    color: black;
    margin: 0 16px;
}

.para-plants {
    text-align: center;
    font-size: 1.1375rem;
}

/* plants grid contents */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px;
}

.text {
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 20px;
}

.para1 {
    padding: 0 250px;
    text-align: center;
    font-size: 1.125rem;
    width: 100%;
}

.para2 {
    padding: 0 250px;
    text-align: center;
    font-weight: bold;
    font-size: 1.125rem;
    width: 100%;
}


.btn {
    background-color: #E95A08;
    color: white;
    text-align: center;
    padding: 20px 50px;
    border: none;
    width: 100%;
    font-weight: bolder;
}

/* lover styles */
.lover {
    display: flex;
    justify-content: space-between;
    margin: 90px auto;
    width: 1140px;
    gap: 100px;
}

.lover-img {
    width: 50%;
    padding-top: 10%;
}

.lover-text {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.fp-text {
    font-size: 3.9rem;
    font-weight: 700px;
    text-align: left;
}

.list-text {
    text-align: left;
    font-size: 1.28rem;
}

.list-text li {
    margin-bottom: 30px;
}

/* latest deals styles */
.LD {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ld-text {
    text-align: center;
    font-size: 1.1375rem;
}

.latest {
    font-size: 50px;
    color: #E95A08;
}

.deals {
    align-items: center;
    text-align: center;
    color: black;
    margin: 0 16px;
}

/* grid styles */
.deals-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.grid-box-small {
    border-radius: 10px;
    height: 200px;
    align-items: center;
}

.grid-box-large {
    border-radius: 10px;
    height: 200px;
    align-items: center;
}

.grid-text {
    position: absolute;
    padding: 10px 15px;
    color: red;
}

.grid-text p {
    font-size: 18px;
    padding: 25px 50px;
    font-weight: bold;
    text-align: center;
    color: red;
}

.grid-text a {
    font-size: 18px;
    padding: 25px 50px;
    font-weight: bold;
    text-align: center;
    color: red;
}

/* join styles */
.join {
    align-items: center;
    margin: 70px 0 0 0;
}

.join-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-text {
    color: white;
    position: absolute;
    font-size: 4rem;
    text-align: center;
    padding-top: 100px;
}

.mailbox {
    margin: 300px;
    align-items: flex-start;
    position: absolute;
    height: 40px;
    width: 45%;
    font-size: 1rem;
    text-align: left;
    padding-left: 30px;
}

.btn2 {
    position: absolute;
    background-color: #E95A08;
    color: white;
    text-align: center;
    padding-right: 30px;
    border: none;
    height: 40px;
    margin: 300px;
    align-items: flex-end;
}

/* footer styles */
.footer-class {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 160px;
}

.footer-icon {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

footer div p,
a {
    font-size: 1.125rem;
}

footer ul li {
    list-style: none;
    margin-right: 3rem;
    margin-bottom: 3rem;
}

footer li a {
    text-decoration: none;
    color: #8987A1;
}

/* responsive media query */
@media screen and (max-width: 430px) {
    .hide-on-mobile {
        display: none;
    }

    /* nav responsive */

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* banner responsive */
    .banner {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    /* plants responsive */
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        column-gap: 5px;
        align-items: center;
    }

    .our,
    .plants-text {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    /* lover responsive*/
    .lover {
        display: flex;
        flex-direction: column;
        width: 1140px;
    }

    /* latest deals responsive */
    /* .LD,
    .ld-text,
    .deals-grid
     {
      display: flex;
        flex-direction: column;
        width: 100%;
     
    } 
        /* footer */
    .footer-class {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }